.banner-section {
    /* The image used */
    background-image: url("https://wallpaperaccess.com/full/702858.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }
  
  section.banner-section {
    padding: 200px 200px;
    text-align: center;
  }
  
  section.banner-section h1 {
    color: #FFF;
    font-size: 80px;
    max-width: 776px;
    margin: 0px auto;
  }
  
  section.banner-section p {
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    max-width: 400px;
    margin: 30px auto 40px;
  }

  .btn-primary {
    background: #073579 !important;
    border-color: #073579  !important;
    padding: 12px 10px;
}

  .btn-outline-light {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 10px;
    border-radius: 0;
  }
  
  .btn {
    min-width: 173px;
  }
  
  .banner-text .btn {
    margin: 0px 10px;
  }
  


  section.features-section {
    background: #252525;
    padding: 100px;
  }
  
  .features-box {
    background: #FFF;
    padding: 30px;
    text-align: center;
  margin-bottom: 30px;
  }
  
  .left-header h2 {
    color: #FFF;
    font-size: 60px;
  }
  
  .right-text {
    color: #FFF;
  }
  .row.top-features {
    top: -61px;
    position: relative;
  }
  