/* Nav Bar Css */
header {
  position: absolute;
  backdrop-filter: blur(10px);
  width: 100%
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #073579;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight:600;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ed1c24;
}

.navbar-collapse {
  padding: 30px;
}

@media (max-width: 991px) {
  .navbar-collapse {
    text-align: center;
    padding: 30px;
  }
}
