body {
  font-family: "Lato", sans-serif;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

/* Button Css */
.btn {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 75%;
}

.grey-font {
  color: grey
}

.blue-font {
  color: blue
}

.card-box {
  height: 100%;
  text-align: center;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
}